.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
p{
  text-align: center;
}
.joke_wrapper{
  width: 80%;
  background: lightblue;
  padding: 20px;
  border-radius: 3px;
  font-weight: 400;
}